<div class="row">
    <div class="col-md-12 col-sm-3">
        <md-button class="md-fab" class="addButton" aria-label="Eat cake" ng-click="registerFund($event)">
            <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
            <a class="glyphicon glyphicon-plus"></a>
        </md-button>
    </div>
    <div class="col-md-12 col-sm-3">
        <div class="alert alert-danger" ng-show="registeredFundFailed == true" role="alert">Registering of the fund
            failed. Try again with another fund name or
            try again later!
        </div>
        <md-data-table-toolbar>
            <h2 class="md-title">Nutrition</h2>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange">
                <tr>
                    <th numeric name="Fund name" order-by="name"></th>
                    <th numeric name="Fund amount" unit="RON" order-by="amount"></th>
                    <th numeric name="Created" order-by="createdDate"></th>
                    <th numeric name="Action"></th>
                </tr>
                </thead>
                <tbody>
                <tr md-auto-select ng-repeat="fund in funds">
                    <td>{{fund.fundName}}</td>
                    <td>{{fund.amount}}</td>
                    <td>{{fund.createdDate}}</td>
                    <td>
                        <a class="glyphicon glyphicon-pencil" style="margin-right: 10px; cursor:pointer;"
                           ng-click="edit(fund.fundName,fund.fundAmount)"/>

                        <a class="glyphicon glyphicon-remove" style="cursor:pointer;"
                           ng-click="deleteFund(fund.fundName)"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit"
                                  md-page="query.page"
                                  md-total="{{totalElements}}"
                                  md-trigger="onPaginationChange">

        </md-data-table-pagination>


    </div>
</div>