html, body {
    /*height: 100%;*/
    /* color: rgba(0, 0, 0, 0.87); */
    /* background: white; */
    /* position: relative; */
}

td {
    text-align: center;
}

a {
    text-decoration: none !important;
}

a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab, .md-button.md-fab {
    background-color: #888 !important;
}

a:hover, a:focus {
    text-decoration: none !important;
}

.md-fab md-button md-ink-ripple {
    background-color: white;
}

button > a {
    color: white !important;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px;
}


.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px;
}